* {
  box-sizing: border-box;
}

body {
  background-color: #FFFDD0;
  margin: 0;
}

.icon-bar {
  height: 40px;
  width: 100%;
  background-color: #555;
  overflow: hidden;
}

.icon-bar a {
  float: left;
  margin-top: 3.5px;
  width: 10%;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
}

.icon-bar a:hover {
  background-color: #000;
}

.zoom {
  padding: 50px;
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.13); /* IE 9 */
  -webkit-transform: scale(1.13); /* Safari 3-8 */
  transform: scale(1.13); 
}

div.gallery {
  border: 5px solid #504A4B;
  border-radius: 20px;
  margin-top: 20px;
  height: auto;
  width: 100%;
}

div.gallery:hover {
  border: 5px solid #000000;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

div.desc {
  padding: 15px;
  text-align: center;
}


.responsive {
  padding: 0 10px;
  /*float: left;*/
  display: inline-flex; /*added, to make in next to each other*/
  width: 24.5%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media only screen and (max-width: 700px) {
  .responsive {
    /*width: 49.5%;*/ 
    width: 100%;    /*from below (double)*/
    margin: 10px 0;
  }

  /*added, to make each div as row in small device*/
  .row {
    flex-direction : column;
  }

  /*added, to make audio size change on small device*/
  audio{
    width: 100%;
  }


/*double, no need*/
/*
@media only screen and (max-height: 1050px) and (max-width: 900px) {
  .responsive {
    width: 100%;
  }
}*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

