body{
    background-color: #F1E9D2;
    margin: 0;
}

.icon-bar {
    height: 40px;
    width: 100%;
    background-color: #555;
    overflow: hidden;
}
.icon-bar a {
    float: left;
    margin-top: 3.5px;
    width: 10%;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
    font-size: 30px;
}
.icon-bar a:hover {
    background-color: #000;
}
.csslider {
    -moz-perspective: 1300px;
    -ms-perspective: 1300px;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    display: inline-block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
}
.csslider > input {
    display: none;
}
.csslider > input:nth-of-type(30):checked ~ ul li:first-of-type {
    margin-left: -2900%;
}
.csslider > input:nth-of-type(29):checked ~ ul li:first-of-type {
    margin-left: -2800%;
}
.csslider > input:nth-of-type(28):checked ~ ul li:first-of-type {
    margin-left: -2700%;
}
.csslider > input:nth-of-type(27):checked ~ ul li:first-of-type {
    margin-left: -2600%;
}
.csslider > input:nth-of-type(26):checked ~ ul li:first-of-type {
    margin-left: -2500%;
}
.csslider > input:nth-of-type(25):checked ~ ul li:first-of-type {
    margin-left: -2400%;
}
.csslider > input:nth-of-type(24):checked ~ ul li:first-of-type {
    margin-left: -2300%;
}
.csslider > input:nth-of-type(23):checked ~ ul li:first-of-type {
    margin-left: -2200%;
}
.csslider > input:nth-of-type(22):checked ~ ul li:first-of-type {
    margin-left: -2100%;
}
.csslider > input:nth-of-type(21):checked ~ ul li:first-of-type {
    margin-left: -2000%;
}
.csslider > input:nth-of-type(20):checked ~ ul li:first-of-type {
    margin-left: -1900%;
}
.csslider > input:nth-of-type(19):checked ~ ul li:first-of-type {
    margin-left: -1800%;
}
.csslider > input:nth-of-type(18):checked ~ ul li:first-of-type {
    margin-left: -1700%;
}
.csslider > input:nth-of-type(17):checked ~ ul li:first-of-type {
    margin-left: -1600%;
}
.csslider > input:nth-of-type(16):checked ~ ul li:first-of-type {
    margin-left: -1500%;
}
.csslider > input:nth-of-type(15):checked ~ ul li:first-of-type {
    margin-left: -1400%;
}
.csslider > input:nth-of-type(14):checked ~ ul li:first-of-type {
    margin-left: -1300%;
}
.csslider > input:nth-of-type(13):checked ~ ul li:first-of-type {
    margin-left: -1200%;
}
.csslider > input:nth-of-type(12):checked ~ ul li:first-of-type {
    margin-left: -1100%;
}
.csslider > input:nth-of-type(11):checked ~ ul li:first-of-type {
    margin-left: -1000%;
}
.csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
    margin-left: -900%;
}
.csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
    margin-left: -800%;
}
.csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
    margin-left: -700%;
}
.csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
    margin-left: -600%;
}
.csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
    margin-left: -500%;
}
.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
    margin-left: -400%;
}
.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
    margin-left: -300%;
}
.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
    margin-left: -200%;
}
.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
    margin-left: -100%;
}
.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
    margin-left: 0%;
}
.csslider > ul {
    position: relative;
    width: 820px;
    height: 420px;
    z-index: 1;
    font-size: 0;
    line-height: 0;
    border: 10px solid #ffffff;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.csslider > ul > li {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 15px;
    font-size: initial;
    line-height: normal;
    -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
}
.csslider > .navigation {
    position: absolute;
    bottom: -8px;
    left: 50%;
    z-index: 10;
    margin-bottom: -10px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.csslider > .navigation > div {
      margin-left: -100%;
}
.csslider > .navigation label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 4px;
    padding: 4px;
    background: #3A3A3A;
}
.csslider > .navigation label:hover:after {
    opacity: 1;
}
.csslider > .navigation label:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6px;
    margin-top: -6px;
    background: #ff0000;
    border-radius: 50%;
    padding: 6px;
    opacity: 0;
}
.csslider > .arrows {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.csslider.inside .navigation {
    bottom: 10px;
    margin-bottom: 10px;
}
.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after,
.csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after,
.csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6):after,
.csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7):after,
.csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8):after,
.csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9):after,
.csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10):after,
.csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11):after,
.csslider > input:nth-of-type(12):checked ~ .navigation label:nth-of-type(12):after,
.csslider > input:nth-of-type(13):checked ~ .navigation label:nth-of-type(13):after,
.csslider > input:nth-of-type(14):checked ~ .navigation label:nth-of-type(14):after,
.csslider > input:nth-of-type(15):checked ~ .navigation label:nth-of-type(15):after,
.csslider > input:nth-of-type(16):checked ~ .navigation label:nth-of-type(16):after,
.csslider > input:nth-of-type(17):checked ~ .navigation label:nth-of-type(17):after,
.csslider > input:nth-of-type(18):checked ~ .navigation label:nth-of-type(18):after,
.csslider > input:nth-of-type(19):checked ~ .navigation label:nth-of-type(19):after,
.csslider > input:nth-of-type(20):checked ~ .navigation label:nth-of-type(20):after,
.csslider > input:nth-of-type(21):checked ~ .navigation label:nth-of-type(21):after,
.csslider > input:nth-of-type(22):checked ~ .navigation label:nth-of-type(22):after,
.csslider > input:nth-of-type(23):checked ~ .navigation label:nth-of-type(23):after,
.csslider > input:nth-of-type(24):checked ~ .navigation label:nth-of-type(24):after,
.csslider > input:nth-of-type(25):checked ~ .navigation label:nth-of-type(25):after,
.csslider > input:nth-of-type(26):checked ~ .navigation label:nth-of-type(26):after,
.csslider > input:nth-of-type(27):checked ~ .navigation label:nth-of-type(27):after,
.csslider > input:nth-of-type(28):checked ~ .navigation label:nth-of-type(28):after,
.csslider > input:nth-of-type(29):checked ~ .navigation label:nth-of-type(29):after,
.csslider > input:nth-of-type(30):checked ~ .navigation label:nth-of-type(30):after {
    opacity: 1;
}
.csslider > .arrows {
    position: absolute;
    left: -31px;
    top: 50%;
    width: 100%;
    height: 26px;
    padding: 0 31px;
    z-index: 0;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.csslider > .arrows label {
    display: none;
    position: absolute;
    top: -50%;
    padding: 13px;
    box-shadow: inset 2px -2px 0 1px #3A3A3A;
    cursor: pointer;
    -moz-transition: box-shadow 0.15s, margin 0.15s;
    -o-transition: box-shadow 0.15s, margin 0.15s;
    -webkit-transition: box-shadow 0.15s, margin 0.15s;
    transition: box-shadow 0.15s, margin 0.15s;
}
.csslider > .arrows label:hover {
    box-shadow: inset 3px -3px 0 2px #ff0000;
    margin: 0 0px;
}
.csslider > .arrows label:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    height: 300%;
    width: 300%;
}
.csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(10),
.csslider > input:nth-of-type(12):checked ~ .arrows > label:nth-of-type(11),
.csslider > input:nth-of-type(13):checked ~ .arrows > label:nth-of-type(12),
.csslider > input:nth-of-type(14):checked ~ .arrows > label:nth-of-type(13),
.csslider > input:nth-of-type(15):checked ~ .arrows > label:nth-of-type(14),
.csslider > input:nth-of-type(16):checked ~ .arrows > label:nth-of-type(15),
.csslider > input:nth-of-type(17):checked ~ .arrows > label:nth-of-type(16),
.csslider > input:nth-of-type(18):checked ~ .arrows > label:nth-of-type(17),
.csslider > input:nth-of-type(19):checked ~ .arrows > label:nth-of-type(18),
.csslider > input:nth-of-type(20):checked ~ .arrows > label:nth-of-type(19),
.csslider > input:nth-of-type(21):checked ~ .arrows > label:nth-of-type(20),
.csslider > input:nth-of-type(22):checked ~ .arrows > label:nth-of-type(21),
.csslider > input:nth-of-type(23):checked ~ .arrows > label:nth-of-type(22),
.csslider > input:nth-of-type(24):checked ~ .arrows > label:nth-of-type(23),
.csslider > input:nth-of-type(25):checked ~ .arrows > label:nth-of-type(24),
.csslider > input:nth-of-type(26):checked ~ .arrows > label:nth-of-type(25),
.csslider > input:nth-of-type(27):checked ~ .arrows > label:nth-of-type(26),
.csslider > input:nth-of-type(28):checked ~ .arrows > label:nth-of-type(27),
.csslider > input:nth-of-type(29):checked ~ .arrows > label:nth-of-type(28),
.csslider > input:nth-of-type(30):checked ~ .arrows > label:nth-of-type(29) {
    display: block;
    left: 0;
    right: auto;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(10),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(11),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(12),
.csslider > input:nth-of-type(12):checked ~ .arrows > label:nth-of-type(13),
.csslider > input:nth-of-type(13):checked ~ .arrows > label:nth-of-type(14),
.csslider > input:nth-of-type(14):checked ~ .arrows > label:nth-of-type(15),
.csslider > input:nth-of-type(15):checked ~ .arrows > label:nth-of-type(16),
.csslider > input:nth-of-type(16):checked ~ .arrows > label:nth-of-type(17),
.csslider > input:nth-of-type(17):checked ~ .arrows > label:nth-of-type(18),
.csslider > input:nth-of-type(18):checked ~ .arrows > label:nth-of-type(19),
.csslider > input:nth-of-type(19):checked ~ .arrows > label:nth-of-type(20),
.csslider > input:nth-of-type(20):checked ~ .arrows > label:nth-of-type(21),
.csslider > input:nth-of-type(21):checked ~ .arrows > label:nth-of-type(22),
.csslider > input:nth-of-type(22):checked ~ .arrows > label:nth-of-type(23),
.csslider > input:nth-of-type(23):checked ~ .arrows > label:nth-of-type(24),
.csslider > input:nth-of-type(24):checked ~ .arrows > label:nth-of-type(25),
.csslider > input:nth-of-type(25):checked ~ .arrows > label:nth-of-type(26),
.csslider > input:nth-of-type(26):checked ~ .arrows > label:nth-of-type(27),
.csslider > input:nth-of-type(27):checked ~ .arrows > label:nth-of-type(28),
.csslider > input:nth-of-type(28):checked ~ .arrows > label:nth-of-type(29),
.csslider > input:nth-of-type(29):checked ~ .arrows > label:nth-of-type(30),
.csslider > input:nth-of-type(30):checked ~ .arrows > label:nth-of-type(31), 
.csslider > input:nth-of-type(31):checked ~ .arrows > label:nth-of-type(32){
    display: block;
    right: 0;
    left: auto;
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
/*#region MODULES */
/*#endregion */
/*___________________________________ LAYOUT ___________________________________ */
* {
    margin: 0;
    padding: 0;
}
ul {
    padding-left: 40px;
}

    #slider1 {
    margin: 20px;
    font-family: 'Lato';
}
#slider1 > input:nth-of-type(3):checked ~ ul #bg {
    width: 80%;
    padding: 22px;
    -moz-transition: .5s .5s;
    -o-transition: .5s .5s;
    -webkit-transition: .5s .5s;
    transition: .5s .5s;
}
#slider1 > input:nth-of-type(3):checked ~ ul #bg div {
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
    -moz-transition: .5s .9s;
    -o-transition: .5s .9s;
    -webkit-transition: .5s .9s;
    transition: .5s .9s;
}
/*#videos */
/*___________________________________ LAYOUT ___________________________________ */
video { 
    width:710px; 
    height:400px;  
    background:transparent url('') no-repeat 0 0; 
    -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover; 
    background-size:cover; 
}
p {
    margin-left:3em;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container {
overflow: hidden;
width: 100vw;
height: 100vh;
background: #4776e6;
background: -webkit-linear-gradient(to right, #8e54e9, #4776e6);
background: linear-gradient(to right, #8e54e9, #4776e6);
display: flex;
flex-direction: column;
justify-content: space-around;
}

.header2
{
width: 100%;
height: 60px;
}

.menu2
{
height: 100%;
width: 100%;
display: flex;
align-items: center;
list-style: none;
padding: 0 100px;
}

.menu2 li 
{
display: block;
height: 100%;
font-size: 20px;
position: relative;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
text-transform: uppercase;
text-shadow: 0 0 15px #8e54e9;
transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
text-align: center;
padding: 0 10px;
margin-right: 30px;
}
.menu2 li:after,
.menu2 li:before {
content: "";
position: absolute;
display: block;
border: 0px solid transparent;
width: 0%;
height: 0%;
transition: all 0.5s ease;
}

.menu2 li:after {
width: 0%;
height: 0%;
top: 0;
left: 0;
border-top: 2px solid transparent;
border-left: 2px solid transparent;
}

.menu2 li:before {
width: 0%;
height: 0%;
right: 0;
bottom: 0;
border-bottom: 2px solid transparent;
border-right: 2px solid transparent;
}

.menu2 li:hover::before,
.menu2 li:hover::after {
width: 100%;
height: 100%;
border-color: #fff;
}